<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>PageFilter</filter-name>
        <filter-class>org.filters.PageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PageFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>doBeforeTest</servlet-name>
        <servlet-class>org.controllers.doBeforeTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>org.controllers.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoTo</servlet-name>
        <servlet-class>org.controllers.GoTo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doBeforeTest</servlet-name>
        <url-pattern>/doBeforeTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoTo</servlet-name>
        <url-pattern>/goTo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
