body{
	padding: 0;
	margin: 0;
	overflow-y:scroll;
	font-family: arial;
	font-size: 18px;
        background-color: black;
	
	}
	#test	{
	background-image:url(bank.jpg);
	height:600px;
	width:1347px;
}
	
	#nav{
	background-color: #222;
	}
	#nav_wrapper{
	width: 960px;
	margin: 0 auto;
	text-align: left;
	}
	#nav ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		}
		#nav ul li{
			display: inline-block;
			}
			#nav ul li:hover{
			background-color: #333;
			
			}
			#nav ul li a,visited{
			color: #ccc;
			display: block;
			padding: 15px;
			text-decoration: none;
			}
			#nav ul li a:hover{
			color: #ccc;
			text-decoration: none;
			}
			#nav ul li:hover ul{
			display: block;
			}
			#nav ul ul{
			display: none;
			position: absolute;
			background-color: #333;
			border: 5px solid #222;
			bolder-top: 0;
			}
			#nav ul ul li{
			display: block;
			}
			#nav ul ul li a,visited{
			color: #ccc;
			}
			#nav ul ul li a:hover{
			 color: #099;
			}
	
